*{
        font-family: "Manrope", sans-serif;
}

.junior-program{
    background-image: url('../Images/2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;

}
.teenager-program{
    background-image: url('../Images/3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;

}
.professional-program{
    background-image: url('../Images/4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;

}

